body {
  padding: 0px;
  margin: 0px;
}

#wrap {
  background-image: url('../_img/img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 width: 100%;
 height: 100%;
   display: table; /* para centrar cela interior del texto */
 }

#poemacaja {
   height: auto;
  width: 50%;
  margin: 15%  auto auto  20%;
  }

#poema {
  vertical-align: middle;
  /* font-family: 'EB Garamond', serif;*/
  font-family: 'Oswald', sans-serif; 
  font-size: 24px;
  color:  DodgerBlue;
  text-align: center;
}

#poema p {
  background-color: white;
    color: black;
    letter-spacing: 0px;
    text-align:left;
    padding: 20px;
    margin: 0px;
    line-height: 200%;
  }

#poema a{
  color: darkred;
}
#poema a:hover {
  color: red; 
}
#bajada p {
  background-color: black;
  color: white;
  letter-spacing: 0px;
  padding: 14px;
  margin: 2px 0px 0px 0px;
  vertical-align: middle;
  font-family: 'EB Garamond', serif;
  font-size: 11px;
  color:  white;
  text-align: right;
  line-height: 20%;
  letter-spacing: 1px;
}

#header {
  width: 100%;
  height: 40px;
  background-color: ;
  padding: 0px;
  margin: 0px;
}

#header h1 {
  width: auto;
  height: auto;
  background-color: black;
  padding: 2px 5px 2px 5px;
  margin: 0px;
  position: fixed;
  top: 5px;
  right: 5;
  font-family: 'Oswald', sans-serif;
  color: yellow;
  font-size: 13px;
  letter-spacing: 1.5px;
 }

#header h2, #header a {
  width: auto;
  height: auto;
  background-color: black;
  padding: 2px 5px 2px 5px;
  margin: 0px;
  position: fixed;
  top: 32px;
  right: 5px;
  font-family: 'Oswald', sans-serif;
  color: yellow;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: right;
  text-decoration: none;
 }
#header a:hover {
  background-color: red;
  }

  a.tooltipHeader span {
  width:200px; 
  height:250px; 
  background: yellow;
  display:none; 
  right: 0px;
  margin-top:20px; 
  padding:2px 2px; 
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  text-align: left;
  line-height: 120%;
}

a.tooltipHeader:hover span{
/* detalle tooltip */  
  display:inline;
  padding: 8px 8px;  
  color: black;
  position:absolute; 
}

#header h3 {
  background-color: white ;
  padding: 2px;
  margin: 0px;
  position: fixed;
  color: red;
  font-size: 14px;
 }


#pie {
    /* font-family: 'Open Sans', sans-serif; */
    background-color: greywhite;
    color: black;
    width: 250px;
    height: 10%;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 12px;

    padding: 0px;
    left: 0px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
  }

#pie p {
    /* font-family: 'Open Sans', sans-serif; */
    color: DodgerBlue;
    font-size: 9px;
    letter-spacing: 0px;
    line-height: 22px;
    padding: 0px;
  }

#nombreAdiv, #palabra1Div, #palabra2Div {
  color:black;
}


/* detalle tooltip - - - - - - - - - - - - - - - - - - - */
/* Easy CSS Tooltip - by Koller Juergen [www.kollermedia.at] */
/* {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; }*/
a.tooltip {background:moccasin; padding:4px 4px; text-decoration:none;} /*BG color is a must for IE6*/

a.tooltip:hover {background:yellow; color:red; padding:0px 4px; text-decoration:none;} /*BG color is a must for IE6*/

a.tooltip span {
  display:none; 
  margin-top:-122px; 
  padding:2px 2px; 
  width:160px; height:120px; 
  font-size: 12px; 
  font-family:'Oswald',sans-serif; 
}

a.tooltip:hover span{
/* detalle tooltip */  
  display:inline;
  padding: 8px 8px;  
  color: brown;
  position:absolute; 
  background-image: url("../_img/flecha.png");
}

/* detalle tooltip - - - - - - - - - - - - - - - - - - - 




@media only screen and (min-width: 400px) {
    body {
        background: white;
    }
  #wrap {
    width: 100%;
    margin-left: 0px;
  }
  #wrap p {
    font-family: 'Oswald', sans-serif;
    color: grey;
    font-size: 12px;
    letter-spacing: 1.4px;
  }
  #poema a{
    color: orange;
  }
  #poema p {
    font-family: 'IM Fell DW Pica SC', serif;
  font-family: 'Open Sans', sans-serif;  
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0px;
  }
} 

*/
